* {
    box-sizing: border-box;
}

#container {
    display: flex;
    width: 210px;
    height: 310px;
    border: 5px solid black;
    flex-wrap: wrap;
    justify-content: center;
}

#display {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(235, 230, 230);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px
}

#buttons {
    width: 210px;
    height: 260px;
}

.myButtons {
    width: 50px;
    height: 50px;
    background-color: rgb(198, 227, 252);
}

.button0 {
    width: 100px;
    height: 50px;
}
